/**
 * Index.css
 * 
 * This file contains the styles for the application.
 */
@import "tailwindcss";

/* Theme */
@theme {
  --color-primaryGray: #a5a5a5;
  --color-secondaryGray: #b6b6b6;
  --color-primaryBlack: #000000;
  --color-primaryDarkGray: #848484;
  --color-secondaryBlack: #2f2f2f;
  --color-primaryWhite: #ffffff;
  --color-bgGray: #f5f5f5;
  --color-bgDarkGray: #909090;
  --color-txtGray: #a5a5a5;
  --color-txtDarkGray: #6b6b6b;
  --color-txtBlue: #27c5c5;
  --color-bgSemiDarkGray: #c7c7c7;
  --color-myRed: #ff3232;
  --color-myYellow: #b8b62f;
  --color-myGreen: #67ca40;
}
